<div class="row-container">
  <div class="first-row">
<h1>About AngelGift.io</h1>
<img src="../assets/shaun.jpg" style="border-radius: 20px" alt="">

<h1 class="details">Hey! I'm Shaun, founder of AngelGift.io. I'm a UX/UI engineer, and I'm also studying for the FSOT to serve as a U.S. Diplomat. I created the AngelGift platform to optimize a lot of the transnational philanthropy hurdles especially for disaster relief.
	<br>Thank you so much for taking the time to contribute to our cause.
	<br>Please follow me on <a href="https://Twitter.com/neuvoworld" style="color:pink">Twitter</a> if you'd like to connect</h1>

<h1 class="details">Our collected funds will go towards providing gift baskets to our friends in Syrië and Tirqye recovering from the shock of the disaster. Here is a detailed PDF of what we will gift</h1>

<p>

<iframe src="../assets/angelgift-info.pdf" class="responsive-iframe" width="100%" height="500px"></iframe>

<h1 class="details">Additional funds will be used to assist in rebuilding the 10 plus affected regions and providing care, and educational support materials to the children in these areas, including toys and books for kids. Our representatives will work with our counterparts in Syrië and Tirkiye on several projects to help recover and rebuild businesses and morale as an auxiliary to all the organizations already helping in the recovery efforts</h1><p><h1>If you haven't already, send a gift of $10 today. At a time like this, we needs angels like you to step up. Thank you so much.</h1><p>
<p><p><p><p>