<h1>About AngelGift.io</h1>

<img src="../assets/shaun.jpg" style="border-radius: 20px" alt="">

<h4>Hey! I'm Shaun, founder of AngelGift.io.
	<br>Thank you so much for taking the time to contribute to our cause.
	<br>Please follow me on <a href="https://www.linkedin.com/in/shaun-teeshad/" style="color:pink">LinkedIn</a> if you'd like to connect</h4>

<h1 class="">Our collected funds will go towards providing gift baskets to Syrians and Turks recovering from the shock of the disaster. Here is a detailed PDF of what we will gift</h1>

<p>

<iframe src="../assets/angelgift-info.pdf" width="80%" height="800"></iframe>

<h1 class="">Additional funds will be used to assist in rebuilding the 10 plus affected regions and providing ptsd therapies to the children in these areas. Our representatives will work with our counterparts in Syria and Tirkiye on several projects to help recover and rebuild businesses and morale after this horrific disaster</h1>
