<div class="container">
  <div class="row">
    <h1>Our Mission</h1>
    <div>
    <br><p>
    <p></p><div>
    <h3>We are currently fundraising for emergency funds for the 10 million affected in Turkey & Syria by the 7.8 magnitude tremors of last week</h3>
    <p>
    <img class="travelpics" src="../assets/t2.jpg">&nbsp;
    <img class="travelpics" src="../assets/t3.jpg">&nbsp;
    <h3>We are collecting food & water bottles, coats, boots & tents</h3>
    <p>
    <img class="travelpics" src="../assets/t5.jpg">&nbsp;
    <img class="travelpics" src="../assets/t6.jpg">&nbsp;
    <img class="travelpics" src="../assets/t7.jpg">&nbsp;
    <img class="travelpics" src="../assets/t8.jpg">&nbsp;
    <h3>Even $10 USD is ₺188 Lira & can help someone</h3>
    <p><p>
    <img class="travelpics" src="../assets/t1.jpg">&nbsp;
    <img class="travelpics" src="../assets/t4.jpg">&nbsp;
    <p><p>
  </div>
</div>